<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Product</title>
    </head>
    <body>
        <form th:action="@{~/product/save}" method="post" th:object="${product}">
            <input type="hidden" th:field="*{Id}">
            Name            : <input type="text" th:field="*{Name}"><br>
            Category        : <select class="form-select" aria-label="Default select example" th:field="*{CategoryId}">
                                <option th:each="category : ${categories}" th:value="${category.Id}" th:text="${category.name}"></option><br>
                              </select>
            Desccription    : <input type="text" th:field="*{Description}"><br>
            Price           : <input type="text" th:field="*{Price}"><br>
            <input type="submit" value="Simpan">
        </form>
    </body>
</html>