<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
    <head>
        <meta charset="UTF-8">
        <title>Product</title>
    </head>
    <body>
        <section layout:fragment="content">
            <button onclick="openForm()" class="btn btn-primary">Tambah</button>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product, iter:${products}">
                        <td th:text="${iter.count}"></td>
                        <td th:text="${product.category.name}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.description}"></td>
                        <td th:text="${product.price}"></td>
                        <td>
                            <button>Update</button>
                        </td>
                        <td>
                            <button>Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <script>
                function openForm(){
                    $.ajax({
                        url: '/product/form',
                        type: 'get',
                        contentType: 'html',
                        success: function(productForm){
                            $('#myModal').modal('show')
                            $('.modal-title').html("Product Form")
                            $('.modal-body').html(productForm);
                        }
                    })
                }
            </script>
        </section>
    </body>
</html>