<p>Apakah anda yakin ingin menghapus : </p>
Name <span th:text="${category.Name}"></span>,
Desc <span th:text="${category.Description}"></span><br>
<button th:value="${category.Id}" onclick="deleteCategory(this.value)">Delete</button>