<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Category Details</title>
    </head>
    <body>
        <table border="1" cellspacing="0" cellpadding="5">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${category.Name}"></td>
                    <td th:text="${category.Description}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>