<form th:action="@{~/category/save}" method="post" th:object="${category}" enctype="multipart/form-data">
    <input type="hidden" th:field="*{Id}">
    Name : <input type="text" th:field="*{Name}"><br>
    Desc : <input type="text" th:field="*{Description}"><br>
    File Path : <input type="text" th:field="*{FilePath}" id="filetext" class="form-control">
    <input type="file" id="filepath" name="filepath" onchange="readurl(this)" class="form-control">
    <p><img src="#" id="avatar" height="90"></p>
    <input type="submit" value="Simpan" class="btn btn-success">
</form>

<script>
    function readurl(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#avatar').attr('src', e.target.result);
                $('#filetext').val($('input[type=file]').val().replace(/C:\\fakepath\\/i,''))
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>