<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
    <head>
        <meta charset="UTF-8">
        <title>Category Index</title>
    </head>
    <body>
    <section layout:fragment="content">
        <button onclick="openForm()" class="btn btn-primary">Tambah</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item, iter:${categoryData}">
                    <td th:text="${iter.count}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td>
                        <img th:src="@{${item.filePath}}" height="50" onclick="showImage(this.src)" style="cursor:pointer;">
                    </td>
                    <td>
                        <button th:value="${item.id}" onclick="editForm(this.value)" class="btn btn-primary">Update</button>
                    </td>
                    <td>
                       <button th:value="${item.id}" onclick="deleteForm(this.value)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <script>
            function openForm(){
                $.ajax({
                    url: '/category/form',
                    type: 'get',
                    contentType: 'html',
                    success: function(catForm) {
                        $('#myModal').modal('show')
                        $('.modal-title').html("Category Form")
                        $('.modal-body').html(catForm);
                    }
                })
            }

            function editForm(id){
                $.ajax({
                    url: '/category/editform/' + id,
                    type: 'get',
                    contentType: 'html',
                    success: function(catForm) {
                        $('#myModal').modal('show')
                        $('.modal-title').html("Update Category")
                        $('.modal-body').html(catForm);
                    }
                })
            }

            function deleteForm(id){
                $.ajax({
                    url: '/category/deleteform/' + id,
                    type: 'get',
                    contentType: 'html',
                    success: function(catForm) {
                        $('#myModal').modal('show')
                        $('.modal-title').html("Delete Category")
                        $('.modal-body').html(catForm);
                    }
                })
            }

            function deleteCategory(id){
                $.ajax({
                    url: '/category/delete/' + id,
                    type: 'get',
                    contentType: 'html',
                    success: function(catForm) {
                        $('#myModal').modal('hide')
                        alert("Data Terhapus");
                        location.reload();
                    }
                })
            }

            function showImage(url){
                var image = '<img src=' + url + ' width="100%">'
                $('#myModal').modal('show')
                $('.modal-title').html("Show Image")
                $('.modal-body').html(image)
            }
        </script>
    </section>
    </body>
</html>